.gradient-text {
    background-image: linear-gradient(135deg, rgb(132, 111, 244) 0%, rgb(241, 118, 116) 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.gradient-bg {
    background:  linear-gradient(to right, rgb(22 5 143 / 69%), rgb(52 31 151 / 18%));
}